body {font-family: Inter;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 40px;
    
}
h1 {color: white;
    text-align: center;
    font-family: Inter;
}

h2 {color: white;
    text-align: center;
    font-family: Inter;
}

p {font-size: 21px;
   text-align: center;
   font-family: Inter;
   
}

.right {
   background: url(images/Pengvens.png);
   width: 40%;
   position: absolute;
   right: 0px;
   height: 100%;
   
}

.middle{
    margin: 0 auto;
}
